[submodule "third_party/mathcpp"]
	path = third_party/mathcpp
	url = https://github.com/DavidIkov/mathcpp.git
[submodule "third_party/pybind11"]
	path = third_party/pybind11
	url = https://github.com/pybind/pybind11.git
